{
  "Repositories":{
    "base_url":"{{ HDP_BASEURL }}",
    "default_base_url":"{{ HDP_BASEURL }}",
    "verify_base_url":true,
    "mirrors_list" : null,
    "os_type" : "redhat7",
    "repo_id" : "HDP-2.5",
    "repo_name" : "HDP",
    "stack_name" : "HDP",
    "stack_version" : "2.5"
  }
}
